{% include 'header.twig' %}
<br>
<br>

 <div class="wrapper-content">
    <div class="wrapper-content__header">
          </div>
    <div class="wrapper-content__body">
      <!-- Main variables *content* -->
      <div id="block_93">
    <div class="new_order-block ">
        <div class="bg"></div>
        <div class="divider-top"></div>
        <div class="divider-bottom"></div>
        <div class="container">
		{% if contentText %}
		<div class="card mt-4 mb-2">
{{ contentText }}
</div>
{% endif %}
           {% if contentText2 %}
           <div class="card mt-4 mb-4">
{{ contentText2 }}
</div>
{% endif %}
 </div> </div>
</div> </div>
  </div>
</div><br>
</div>
</div>    </div></div></div></div></div>

{% include 'footer.twig' %}
