{% include 'header.twig' %}

   <br>
<div class="wrapper-content">
    <div class="wrapper-content__header">
          </div>
    <div class="wrapper-content__body">
      <!-- Main variables *content* -->
      <div id="block_93">
    <div class="new_order-block ">
        <div class="bg"></div>
        <div class="divider-top"></div>
        <div class="divider-bottom"></div>
        <div class="container">
            <div class=" new-order-form">
                <div class="col-lg-12">
                   <div class="component_form_group component_card component_radio_button">
                      
<div id="block_85">
    <div class="faq ">
        <div class="bg"></div>
        <div class="divider-top"></div>
        <div class="divider-bottom"></div>
        <div class="container">
            <div class="">
                <div class="col-lg-8">
                    <div class="row"><br>
                                                    <div class="col-lg-12">
                                <div class="faq-block__card">
                                    <div class="card" style="
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ">
                                        <div class="faq-block__header collapsed" data-toggle="collapse" data-target="#faq-block-85-1" aria-expanded="false" aria-controls="#faq-block-85-1">
                                            <div class="faq-block__header-title">
                                                                                                    <h4>What is an SMM panel?</h4>
                                                                                            </div>
                                            <div class="faq-block__header-icon">
                                                <div class="style-text-dark faq-block__icon" style=""></div>
                                            </div>
                                        </div>
                                        <div class="faq-block__body collapse" id="faq-block-85-1">
                                            <div class="faq-block__body-description" style="padding-top: 8px">
                                                                                                    <p>SMM panels are online stores that offer SMM services of different kinds.</p>
                                                                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                    <div class="col-lg-12">
                                <div class="faq-block__card">
                                    <div class="card" style="
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ">
                                        <div class="faq-block__header collapsed" data-toggle="collapse" data-target="#faq-block-85-2" aria-expanded="false" aria-controls="#faq-block-85-2">
                                            <div class="faq-block__header-title">
                                                                                                    <h4>What kinds of SMM services can I find on your panel?</h4>
                                                                                            </div>
                                            <div class="faq-block__header-icon">
                                                <div class="style-text-dark faq-block__icon" style=""></div>
                                            </div>
                                        </div>
                                        <div class="faq-block__body collapse" id="faq-block-85-2">
                                            <div class="faq-block__body-description" style="padding-top: 8px">
                                                                                                    <p>Our panel provides different types of SMM services, such as likes, views, followers, etc.</p>
                                                                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                    <div class="col-lg-12">
                                <div class="faq-block__card">
                                    <div class="card" style="
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ">
                                        <div class="faq-block__header collapsed" data-toggle="collapse" data-target="#faq-block-85-3" aria-expanded="false" aria-controls="#faq-block-85-3">
                                            <div class="faq-block__header-title">
                                                                                                    <h4>Are SMM services on this panel safe to buy?</h4>
                                                                                            </div>
                                            <div class="faq-block__header-icon">
                                                <div class="style-text-dark faq-block__icon" style=""></div>
                                            </div>
                                        </div>
                                        <div class="faq-block__body collapse" id="faq-block-85-3">
                                            <div class="faq-block__body-description" style="padding-top: 8px">
                                                                                                    <p>Using our SMM services is definitely safe, you won't lose your accounts.</p>
                                                                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                    <div class="col-lg-12">
                                <div class="faq-block__card">
                                    <div class="card" style="
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ">
                                        <div class="faq-block__header collapsed" data-toggle="collapse" data-target="#faq-block-85-4" aria-expanded="false" aria-controls="#faq-block-85-4">
                                            <div class="faq-block__header-title">
                                                                                                    <h4>Mass orders — what are they?</h4>
                                                                                            </div>
                                            <div class="faq-block__header-icon">
                                                <div class="style-text-dark faq-block__icon" style=""></div>
                                            </div>
                                        </div>
                                        <div class="faq-block__body collapse" id="faq-block-85-4">
                                            <div class="faq-block__body-description" style="padding-top: 8px">
                                                                                                    <p>The mass order feature allows to place multiple orders at once.</p>
                                                                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                    <div class="col-lg-12">
                                <div class="faq-block__card">
                                    <div class="card" style="
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ">
                                        <div class="faq-block__header collapsed" data-toggle="collapse" data-target="#faq-block-85-5" aria-expanded="false" aria-controls="#faq-block-85-5">
                                            <div class="faq-block__header-title">
                                                                                                    <h4>How does the Drip-feed feature work?</h4>
                                                                                            </div>
                                            <div class="faq-block__header-icon">
                                                <div class="style-text-dark faq-block__icon" style=""></div>
                                            </div>
                                        </div>
                                        <div class="faq-block__body collapse" id="faq-block-85-5">
                                            <div class="faq-block__body-description" style="padding-top: 8px">
                                                                                                    <p>Drip-feed allows to build the engagement on your account at the speed that you want. Let's imagine that you ordered 1000 likes on your IG post. Instead of getting all 1000 right away, you can get 100/day for 10 days.</p>
                                                                                            </div>
                                        

{% include 'footer.twig' %}
